html {
  background-color: #ddd;
}

body {
  background-color: #eee;
  border: 1px solid #888;
  color: #111;
  font-family: sans-serif;
  line-height: 1.2em;
  margin: 0 auto;
  max-width: 50em;
  min-width: 20em;
  padding: 10px 20px;
}

input {
  font-family: monospace;
  min-width: 3em;
}

textarea {
  font-family: monospace;
  height: 100px;
  width: 500px;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  table-layout: fixed;
}

td {
  border-width: : 1px solid #888;
  padding: .25em;
}
